<h1>Workout Information</h1>
<h2>Enter A New Workout</h2>
<p>Fill out the form below detailing your exercises. Note the date format and dont forget to select unit of mass</p>
<form id="addNew" action="/insert">
	<fieldset>
		<legend>New Workout Entry</legend>
		<label for="name">Exercise Name: </label>
		<input type="text" name="name" id="name">
		<br />
		<label for="reps">Repititions: </label>
		<input type="text" name="reps" id="reps">
		<br />
		<label for="weight">Total Weight: </label>
		<input type="text" name="weight" id="weight">

		<label for="lbs">Pounds (lbs): </label>
		<input type="radio" name="lbs" value="1" id="lbs">
		<label for="lbs">Kilograms (kg): </label>
		<input type="radio" name="lbs" value="0" id="lbs">

		<br />
		<label for="date">Date Performed (format example: 2016-5-25): </label>
		<input type="text" name="date" id="date">
		<br />
		<input type="submit" id="submit" value="Upload Workout">
	</fieldset>
</form>

<h2>Workout Data From Database</h2>
<table class="workoutDB" id="workoutDB">
	<thead>
		<tr>
		<!--<th style="display:none">ID</th> -->
			<th>ID</th>
			<th>Exercise</th>
			<th>Repititions</th>
			<th>Weight</th>
			<th>Units</th>
			<th>Date</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody id="body">
	{{#each workoutDBdata}}
		<tr>
		<!--<th style="display:none">ID</th> -->
			<td>{{this.id}}</td>
			<td>{{this.name}}</td>
			<td>{{this.reps}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.lbs}}</td>
			<td>{{this.date}}</td>
			<td><button type="button" id="edit">Edit</button></td>
			<td><button type="button" id="delete" onclick="deleteFunction({{this.id}})">Delete</button></td>
		</tr>
	{{/each}}
	</tbody>
</table>

<span>test: </span><span id="DOMtest"></span>

<script src="/js/script.js"></script>